@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    color: white;
}

a {
  text-decoration: none;
}

.total {
  background-color: rgb(12, 31, 53);
  gap: 0px;
  height: 480vh;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
  
}

body {
    margin: 0;
    padding: 0;
    
}

.padre {
display: flex;
justify-content: center;
align-items: center;

}

.back_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222.5vh;
    height: 100vh;
   background-image: url(../img/roses.gif);
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 0 0 20px 20px;
}

.profile {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.profile_photo {
    width: 20%;
    height: 20%;
    border-radius: 50%;
} 

.icon-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
 
}

.icons {
  width: 20%;
  height: 20%;
   transition: transform 0.5s;
   font-family: 'Bebas Neue', sans-serif;
   font-size: 18px;
}

.frameworks {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.mini-icons {
  padding-top: 10px;
  width: 15%;
  height: 15%;
  font-family: 'Bebas Neue', sans-serif;
   font-size: 13px;

}

.icons:hover {
  transform: translateY(-10px);
}

.profile_photo:hover {
  transform: translateY(-10px);
}

.profile_photo {
  transition: transform 0.5s ;
}

.icons-languagues {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.profile {
    animation: slide-left 2s;
  }
  
  @keyframes slide-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .dad-container {
    border-radius: 20px;
    border: solid 2px;
    border-color: rgb(255, 255, 255);
    max-height: 370px;
    max-width: 200vh;
    transition: transform 0.5s ease;
    cursor: pointer;
  }
  
  
  .dad-container:hover {
    transform: scale(1.05);
    
  }

  .container-projects {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftcard-container {
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  

  .img {
    width: 30%;
    height: 30%;
  }

  .large-text {
    max-width: 370px;
    padding-right: 100px;
  }

.icon-container {
  width: 400px;
}

.mini-icons-container {
  width: 200px;
  gap: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 10px;
}

.padre-footer {
  padding-top: 50px;
  background-color: black;
  height: 300px;
  border-radius: 20px 20px 0 0;
}

.container-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  
}

.social-media {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  flex-direction: column;
}

.created-by {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 40px;
  gap: 20px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: transform 0.5s;
}

.social:hover {
  transform: translateY(-10px);
}


.phone-number {
 cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}



@media only screen and (max-width: 425px) {

      .total {
        height: 380vh;
      }

      .projects-title {
        width: 100px;
      }
      .back_img {
        background-size: auto 300px;   
        
      }

      .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 300px;
      }
      
      .profile_photo {
        width: 100px;
        height: 100px;
      }

      .info {
        max-width: 200px;
      }

      .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 375px;
      }

      .dad-container {
        max-width: 300px;
      }
      
      .description{
        display: none;
      }

      .icon-container {
        display: none;
      }

      .container-projects {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      
      .leftcard-container {
        width: 100%;
        height: 100%;
      }

      .large-text {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      }



